* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: #fff;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: black;
  margin-top: auto;
  margin-top: 8vh;
}

footer a {
  color: white;
  text-decoration: none;
}
